<include src='layouts/main'>
  <arg pageContent>
    <article>
      <header>
        <section id='logo'>
          <a href='/' class ='on'>CollegeRuled</a>
        </section>
        <div id='navbar'>
          <ul id='navmenu'>
            <li>
              <a href='/' id='home-nav'>Home</a>
            </li>
            <li>
              <a href='/yayy' id='home-nav'>yayy</a>
            </li>
             <li>
              <a href='/wtf' id='home-nav'>wtf</a>
            </li>
             <li>
              <a href='/login' id='home-nav'>login</a>
            </li>
             <li>
              <a href='/not' id='home-nav'>not home</a>
            </li>
          </ul>
        </div>
      </header>
<!--
      
      <p>{content.hello}</p>
      <p>{content.picLabel}</p>
      <p><img src='{teddyPath}' alt=''>
-->
    </article>
  </arg>
</include>